In [1]:
import pandas as pd

In [10]:
df_2014_2015 = pd.read_html('https://fbref.com/en/comps/12/2014-2015/2014-2015-La-Liga-Stats', 
                            attrs = {"id" : "results2014-2015121_overall" })[0]

df_2015_2016 = pd.read_html('https://fbref.com/en/comps/12/2015-2016/2015-2016-La-Liga-Stats', 
                            attrs = {"id" : "results2015-2016121_overall" })[0]

df_2016_2017 = pd.read_html('https://fbref.com/en/comps/12/2016-2017/2016-2017-La-Liga-Stats', 
                            attrs = {"id" : "results2016-2017121_overall" })[0]

df_2017_2018 = pd.read_html('https://fbref.com/en/comps/12/2017-2018/2017-2018-La-Liga-Stats', 
                            attrs = {"id" : "results2017-2018121_overall" })[0]

df_2018_2019 = pd.read_html('https://fbref.com/en/comps/12/2018-2019/2018-2019-La-Liga-Stats', 
                            attrs = {"id" : "results2018-2019121_overall" })[0]

df_2019_2020 = pd.read_html('https://fbref.com/en/comps/12/2019-2020/2019-2020-La-Liga-Stats', 
                            attrs = {"id" : "results2019-2020121_overall" })[0]

df_2020_2021 = pd.read_html('https://fbref.com/en/comps/12/2020-2021/2020-2021-La-Liga-Stats', 
                            attrs = {"id" : "results2020-2021121_overall" })[0]

df_2021_2022 = pd.read_html('https://fbref.com/en/comps/12/2021-2022/2021-2022-La-Liga-Stats', 
                            attrs = {"id" : "results2021-2022121_overall" })[0]

df_2022_2023 = pd.read_html('https://fbref.com/en/comps/12/2022-2023/2022-2023-La-Liga-Stats', 
                            attrs = {"id" : "results2022-2023121_overall" })[0]

df_2023_2024 = pd.read_html('https://fbref.com/en/comps/12/2023-2024/2023-2024-La-Liga-Stats', 
                            attrs = {"id" : "results2023-2024121_overall" })[0]

df_2024_2025 = pd.read_html('https://fbref.com/en/comps/12/2024-2025/2024-2025-La-Liga-Stats', 
                            attrs = {"id" : "results2024-2025121_overall" })[0]

In [14]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [11]:
df_2024_2025.head(2)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Barcelona,27,19,3,5,75,27,48,60,2.22,64.9,29.9,35.0,1.30,W W W W W,45119,Robert Lewandowski - 22,Iñaki Peña,NaN
1,2,Real Madrid,28,18,6,4,59,27,32,60,2.14,53.0,28.7,24.4,0.87,D W L W W,69474,Kylian Mbappé - 20,Thibaut Courtois,NaN

In [12]:
# List of DataFrames 
dfs = [
    df_2014_2015, df_2015_2016, df_2016_2017, df_2017_2018, 
    df_2018_2019, df_2019_2020, df_2020_2021, df_2021_2022, 
    df_2022_2023, df_2023_2024, df_2024_2025
]

# Standardize column names
for df in dfs:
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Define expected columns (ensuring missing xG-related ones are included)
expected_columns = [
    "rk", "squad", "mp", "w", "d", "l", "gf", "ga", "gd", "pts", 
    "pts/mp", "attendance", "top_team_scorer", "goalkeeper", "notes",
    "xg", "xga", "xgd", "xgd/90"  # Expected goals columns missing in older data
]

# Add a season column to track the year
years = list(range(2014, 2025))
for df, year in zip(dfs, years):
    df["season"] = year

# Concatenate all seasons into one Pandas DataFrame
full_data = pd.concat(dfs, ignore_index=True)

In [15]:
print(full_data.shape)
full_data.head()

(220, 21)

,rk,squad,mp,w,d,l,gf,ga,gd,pts,pts/mp,attendance,top_team_scorer,goalkeeper,notes,season,xg,xga,xgd,xgd/90,last_5
0,1,Barcelona,38,30,4,4,110,21,89,94,2.47,77632.0,Lionel Messi - 43,Claudio Bravo,→ Champions League via Champions League win,2014,NaN,NaN,NaN,NaN,NaN
1,2,Real Madrid,38,30,2,6,118,38,80,92,2.42,73545.0,Cristiano Ronaldo - 48,Iker Casillas,→ Champions League via league finish,2014,NaN,NaN,NaN,NaN,NaN
2,3,Atlético Madrid,38,23,9,6,67,29,38,78,2.05,46454.0,Antoine Griezmann - 22,Miguel Ángel Moyá,→ Champions League via league finish,2014,NaN,NaN,NaN,NaN,NaN
3,4,Valencia,38,22,11,5,70,32,38,77,2.03,43125.0,Daniel Parejo - 12,Diego Alves,→ Champions League via league finish,2014,NaN,NaN,NaN,NaN,NaN
4,5,Sevilla,38,23,7,8,71,45,26,76,2.00,30878.0,Carlos Bacca - 20,Sergio Rico,→ Champions League via Europa League win,2014,NaN,NaN,NaN,NaN,NaN

In [ ]:
full_data.to_csv("la_liga_data.csv", index=False)
print("Data saved successfully!")

Data saved successfully!